<template name="changePassword">
    <form id="changePasswordForm">
        <label for="changePass-oldPass">Please Enter Your Old Password</label>
        <input type="password" id="changePass-oldPass" class="form-control" placeholder="Old Password" /> <br/>

        <label for="changePass-newPass">Please Enter Your New Password</label>
        <input type="password" id="changePass-newPass" class="form-control" placeholder="New Password" /> <br/>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</template>