<template name="profile">
    {{>personInfo}}
    {{>petInfo}}
    {{>personalPhoto}}
</template>

<template name="personInfo">
    <div class="container-fluid">
        <h3>Personal Info</h3>
        First Name: {{thisUser.profile.firstName}} <br/>
        Last Name: {{thisUser.profile.lastName}}<br/>
        Email:
        {{#each thisUser.emails}}
            {{address}} {{#if notVerified}}<button id="verify-email">Resend Email Verification Link</button>{{/if}}
        {{/each}}<br/>
        Gender: {{thisUser.profile.gender}} <br/>
        <a href="/change-password"> <button class="btn btn-link">Change Password</button></a>
    </div>
</template>

<template name="petInfo">
    <div class="container-fluid">
        <h3>Pet Info</h3>
        Pet Name: {{thisUser.profile.petName}} <br/>
    </div>
</template>

<template name="personalPhoto">
    <div class="container-fluid">
        <h3>Personal Photos</h3>
        <ul class="nav nav-tabs nav-justified" id="imageTab" >
            <button id="test">reload</button>
            <li class="{{#if $eq $.Session.get "currentFilterTab" "all"}}active{{/if}}" id="imageTab-all"><a href="#imageTab">All</a></li>
            <li class="{{#if $eq $.Session.get "currentFilterTab" "app"}}active{{/if}}" id="imageTab-app"><a href="#imageTab">Approved</a></li>
            <li class="{{#if $eq $.Session.get "currentFilterTab" "pen"}}active{{/if}}" id="imageTab-pen"><a href="#imageTab">Pending</a></li>
            <li class="{{#if $eq $.Session.get "currentFilterTab" "ina"}}active{{/if}}" id="imageTab-ina"><a href="#imageTab">Inappropriate</a></li>
        </ul>
       {{>imageView}}
    </div>
</template>

