<template name="imageTab">
    <ul class="nav nav-tabs nav-justified" id="imageTab" >
        <li class="{{#if isCurrentTab "all"}}active{{/if}}" id="imageTab-all"><a href="#imageTab">All</a></li>
        <li class="{{#if isCurrentTab "app"}}active{{/if}}" id="imageTab-app"><a href="#imageTab">Approved</a></li>
        <li class="{{#if isCurrentTab "pen"}}active{{/if}}" id="imageTab-pen"><a href="#imageTab">Pending</a></li>
        <li class="{{#if isCurrentTab "ina"}}active{{/if}}" id="imageTab-ina"><a href="#imageTab">Inappropriate</a></li>
    </ul>
</template>